@import url('https://fonts.googleapis.com/css2?family=Oswald&family=Karla&family=Pacifico&display=swap');
*{
	margin: 0;
	padding: 0;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box; 
	box-sizing: border-box;
}
.contenedor{
	width: 100%;
    min-height: 100%;
	margin: 0;
	overflow: hidden;
    background-color: #111111;
}
body{
    margin: 0;
    padding: 0;
    border: 0;
}
body::-webkit-scrollbar{
    width: 10px;
    position:relative;
}
body::-webkit-scrollbar-thumb{
    background: rgb(153,153,153);
    background: -moz-linear-gradient(top,  rgba(153,153,153,1) 1%, rgba(237,237,237,1) 25%, rgba(237,237,237,1) 75%, rgba(153,153,153,1) 100%);
    background: -webkit-linear-gradient(top,  rgba(153,153,153,1) 1%,rgba(237,237,237,1) 25%,rgba(237,237,237,1) 75%,rgba(153,153,153,1) 100%);
    background: linear-gradient(to bottom,  rgba(153,153,153,1) 1%,rgba(237,237,237,1) 25%,rgba(237,237,237,1) 75%,rgba(153,153,153,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#999999', endColorstr='#999999',GradientType=0 );
    border-radius: 10px;

}

/*----------------------------
            cuerpo
----------------------------*/
.cuerpo{
    margin-top: 30px;
    background-color: #111111;
    border: 0;
    padding-top: 30px;
    font-family: 'karla', sans-serif;
    color: #F1F1F1;
    display: inline-block table;
}
.webs{
    margin: 0 auto;
    max-width: 900px;
    display: table;
    text-align: center;
    padding: 30px;
}
article{
    vertical-align: middle;
    text-align: center;
    display: inline-block;
    border-radius: 10px;
    margin: 10px;
}
.texto1{
    border: 0;
    margin: 0;
    padding: 30px;
    font-family: 'karla', sans-serif;
}
.texto1 p, td{
    font-size: 20px;
}
.tablacont{
    overflow-x:auto;
}
.tabla{
    min-width: 400px;
}
td{
    height: 50px;
    width: 200px;
    padding: 0;
}
.texto1 h2{
    font-size: 35px;
}
.comingsoon{
    vertical-align: middle;
    font-family: 'karla', sans-serif;
    font-size: 50px;
    padding: 50px;
}
.drawings{
    text-shadow: 5px 3px 10px rgba(255,19,19,1);
    font-family: 'Pacifico', sans-serif;
    font-size: 50px;
    padding: 30px;
}
footer, .foot, .down{
    margin: 0;
    padding: 0;
    border: 0;
    width: 100%;
    bottom: 0;
}
.foot{
    height: 230px;
    margin-top: 50px;
    background-color: #141218;
    bottom: 0;
}
.down{
    width: 100%;
    height: 15px;
    background-color: #020203;
    color: #2E2E2E;
    font-size: 10px;
    font-family: 'karla', sans-serif;
    bottom: 0;
    margin: 0;
    overflow-x: auto; 
}
@media(max-width:930px){
    .cuerpo{
        margin-left: 0;
        margin-right: 0;
    }
}